ul{
    list-style: none;
    padding: 15px;
    margin: 10px;
}
body{
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 85px;
}
.buscar{
    background-color: white;
    border: 1px solid #e1e157;
    border-radius: 10px;
}
.buscar > input{
    outline: none;
    border: 1px;
}

.lupa{
    height: 20px;
}
.lupa :focus-within{
    background-color: #e1e157;
}
